$regular_font-family:'Nunito Sans', sans-serif;
$italic_font-family:'Qwitcher Grypen', cursive;

a{
  color: aliceblue;
  text-decoration: none;
}
li{
  cursor: pointer;
}
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font: 20px/24px $regular_font-family;
}
.wrapper{
  width: 100%;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 80px 1fr;
}
.header{
  height: 80px;
  padding: 0 20px;
  border-bottom-right-radius: 8px;
  box-shadow: 4px -10px 31px grey;
  margin-bottom: 20px;
  grid-area: 1/2/3/2;
  display: flex;
  align-items: center;
  position: relative;
  .dropdown_btn{
    width: 20%;
    background: rgb(70, 134, 102);
    padding: 10px;
    border-radius: 4px;
    font-size: 30px;
    font-family: $italic_font-family;
    border: none;
    margin-right: 20px;
    color: aliceblue;
  }
}
.settings{
  height: 100%;
  background: rgb(70, 134, 102);
  grid-area: 1/1/3/2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main{
  box-shadow: inset 10px 10px 10px rgba(128, 128, 128, 0.57);
  padding: 20px;
  height: 100vh;
  grid-area: 2/2/3/3;
  background: linear-gradient(45deg, rgba(60, 110, 60, 0.2) 25%, white 0, rgba(60, 110, 60, 0.2) 50%);
  background-size: 30px 30px;
  display: grid;
  grid-gap: 20px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: flex-start;
}
.tables{
  grid-area: 1/1/2/2;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 20px;
  display: grid;
  grid-gap: 10px;
  background: rgb(240, 248, 255);
  border-radius: 4px;
  &__item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(70, 134, 102);
    color: aliceblue;
    transition: 500ms;
    &:hover{
      background: aliceblue;
      border:1px solid rgb(70, 134, 102);
      color: rgb(70, 134, 102);
      }
    }
  }
.container{
  background: aliceblue;
  box-shadow: 4px -10px 31px grey;
  border-radius: 8px;
  &_header{
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 10px 5px;
    background: rgb(70, 134, 102);
    color: aliceblue;
    font-size: 34px;
    font-family: $italic_font-family;
  }
}
.waiters{
  grid-area: 1/2/2/3;
  &_list{
    list-style: none;
    padding: 10px 0;
    margin: 0;
  }
  &_item{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    transition: 500ms;
    &:hover{
      background: rgba(70, 134, 102, 0.5);
    }
    &_photo{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  &_header{
    align-self: flex-start;
  }
}
.order{
  grid-area: 1/3/2/5;
}
.dish_category{
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  &_item{
    padding: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid dimgrey;
    border-top: 1px solid dimgrey;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    transition: 500ms;
    &:hover{
      background: rgba(240, 248, 255, 0.5);
      color: rgb(70, 134, 102);
    }
    &:hover .open_category_btn_icon{
      fill: rgb(70, 134, 102);
    }
  }
  .open_category_btn{
    background: none;
    border: none;
    &_icon{
      fill: aliceblue;
      cursor: pointer;
      width: 20px;
      height: 20px;
      transition: 500ms;
      &:hover{
        transform: scale(2);
      }
    }
  }
}
.dish_container{
  min-height: 50%;
  background: aliceblue;
  border-radius: 4px;
  grid-area: 2/1/3/5;
}
.dish_list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  font-size: 14px;
  .dish_item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 4px;
    &_add{
      width: 50px;
      height: 50px;
      background: none;
      border: none;
    }
    &_title{
      height: 45px;
    }
  }
}
.dish_item_photo{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}
